@font-face {
    font-family: 'Vazirmatn';
    src: url("Vazirmatn.woff2") format("woff2"),
        url("Vazirmatn-Bold.woff2") format("woff2");
    font-style: normal;
}
body, html {
    background-color: #EBECF0;
    direction: rtl;
    font-family: 'Vazirmatn';
    margin: 0;
    padding: 0;
}

nav {
    direction: rtl;
    background-color: #f16522;
    color: rgb(49, 49, 49);
    padding: 10px;
}

.nav-item{
    color: #EBECF0;
}

nav a {
    color: #EBECF0;
    margin: 0 15px;
    text-decoration: none;
}
