<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;700&display=swap"> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='ionicons.min.css') }}" />
    <!-- <link rel="stylesheet" href= "{{ url_for('static',filename='stylesnav.css') }}"> -->
    <style>
        footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: rgb(73, 73, 73);
          color: white;
          text-align: center;
        }
    </style>
</head>
<body>
    <footer>
        Made with ❤️ in BRP IT Department
    </footer> 
</body>
</html>