<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>مشاهده درخواست</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.rtl.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    {% include 'base.html' %}
    <div class="container mt-1 p-4 rounded">
        <h1 class="text-right">مشاهده درخواست <strong> {{ request.title }} </strong></h1>
        <div class="mb-3">
            <label class="form-label">توضیحات</label>
            <p class="form-control" readonly>{{ request.description }}</p>
        </div>
        <div class="mb-3">
            <label class="form-label">اولویت</label>
            <p class="form-control" readonly>{{ request.priority }}</p>
        </div>
        <div class="mb-3">
            <label class="form-label">تاریخ ایجاد درخواست</label>
            <p class="form-control" readonly>{{ request.date_created }}</p>
        </div>
        <div class="mb-3">
            <label class="form-label">فایل ضمیمه شده</label>
            {% if request.filename %}
                <p><a href="{{ url_for('download_file', filename=request.filename) }}">{{ request.filename }}</a></p>
            {% else %}
                <p>فایلی ضمیمه نشده.</p>
            {% endif %}
        </div>

        {% if reedited_requests %}
        <hr>
        <h3>ویرایش‌های مجدد مرتبط</h3>
        {% for reedit in reedited_requests %}
            <div class="mb-3 border p-3 rounded">
                <p><strong>تاریخ ایجاد:</strong> {{ reedit.date_created }}</p>
                <p><strong>توضیحات:</strong> {{ reedit.description }}</p>
                <p><strong>اولویت:</strong> {{ reedit.priority }}</p>
                <p><strong>فایل ضمیمه شده:</strong>
                    {% if reedit.filename %}
                        <a href="{{ url_for('download_file', filename=reedit.filename) }}">{{ reedit.filename }}</a>
                    {% else %}
                        فایلی ضمیمه نشده.
                    {% endif %}
                </p>
            </div>
        {% endfor %}
        {% endif %}
            <!-- Back to Dashboard Button -->
            <div class="d-flex justify-content-end">
                <button class="red" type="button"><a href="{{ url_for('dashboard') }}" style="text-decoration: none;">بازگشت به داشبورد</a></button>
            </div>
        <!-- <a href="{{ url_for('dashboard') }}" class="btn btn-primary mt-3 mx-auto" style="display: block; width: 250px;">بازگشت به داشبورد</a> -->
    </div>
    {% include 'footer.html' %}
</body>
</html>
